body {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 100vh;
  flex-direction: column;
}

.green {
  width: 100px;
  height: 100px;
  background-color: green;
  margin-left: 20px;
}

.box {
  width: 100px;
  height: 100px;
}

.blue {
  background-color: blue;
  margin-left: 20px;
}

.purple {
  background-color: purple;
  margin-left: 20px;
}

.red {
  background-color: red;
  margin-left: 20px;
}

.gradient-green {
  background: linear-gradient(to right, #00ff00, #008000);
}

.gradient-blue {
  background: linear-gradient(to right, #0000ff, #000080);
}

.gradient-purple {
  background: linear-gradient(to right, #800080, #4b0082);
}

.gradient-red {
  background: linear-gradient(to right, #ff0000, #800000);
}
